@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --pink: #FF7C7C;
    --dark-pink: #FF4A4A;
    --nyellow: #ffe933;
    --cream: #FCF5BB;
    --dark-gray: #222222;
    --syellow: #F7DD0A;
    }
